.sidebar {
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    min-height: calc(100vh - 60px);
    background: white;
    border-right: 1px solid #e5e5e5;
    z-index: 5;
}