.header-builder {
    width: 100%;
    height: 46px;
    background: white;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    padding-left: 260px;
    padding-right: 260px;
}
.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    padding: 3px 0px;
}
.header-logo img{
    width: 86px;
    padding-left: 8px;
}
.cloud {
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4px;
}
.slds-cloud {
    position: absolute;
    border-radius: 100px;
    width: 100%;
    height: 35%;
    background: #fff;
    z-index: 1;
    box-shadow: 1px 1px 1px #0000001f;
}
.slds-cloud:after, .slds-cloud:before {
    content: '';
    position: absolute;
    background: #fff;
}
.slds-cloud:before {
    border-radius: 50%;
    width: 50%;
    height: 140%;
    right: 10%;
    top: -70%;
    z-index: -1;
}
.slds-cloud:after {
    border-radius: 100px;
    height: 140%;
    left: 15%;
    top: -42%;
    width: 50%;
}
.pageTabs {
    margin-top: 11px;
}