.componentDemo {
    width: 100%;
    height: 100px;
    font-family: 'Source Sans Pro', sans-serif;

}
.componentDemo h1 {
    font-size: 50px;
    text-align: center;
    color: #514f4f;
    text-shadow: 1px 1px 1px #fff;
}
.componentDemo h2 {
    font-size: 30px;
    text-align: center;
    color: #514f4f;
    text-shadow: 1px 1px 1px #fff;
}
.componentDemo h3 {
    font-size: 20px;
    text-align: center;
    color: #514f4f;
    text-shadow: 1px 1px 1px #fff;
}
.code-key {
    background: #000;
    color: white;
    text-shadow: none;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}