html {
    background-color: white !important;
}
body {
    font-family: sans-serif;
}
.box {
    position: relative;
}
.box .disabler {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    z-index: 1;

}
.box .head {
    font-size: 10px;
    letter-spacing: 0.5px;
    color: #686868;
    font-weight: bold;
    padding: 10px;
    position: relative;
    background-color: #f4f4f4;
}
.box .value.text {
    outline: none;
    font-size: 12px;
    border: 0;
    border-left: 1px solid #ececec;
    height: 25px;
    padding-left: 10px;
}
.box .section {
    padding: 10px;
}

.box .head.bordered {
    border-bottom: 1px solid #ececec;
}
.box .content {
    position: relative;
}
.box .content .property {
    border-bottom: 1px solid #ececec;
}
.box .content .property .name{
    font-size: 12px;
    line-height: 25px;
}
.box .content .property .key {
    line-height: 24px;;
}
.box .content .property .value {
    height: 24px;
}
.box .content .property .value .slds-select{
    border: 0;
    border-left: 1px solid #ececec;
    border-radius: 0;
    height: 24px;
    outline: none;
    width: 100%;
    box-shadow: none;
}
.box .content .property .value.property .slds-select{
    border-left: 0!important;
    padding-left: 0 !important;
}

.box .content .property .value .slds-select_container:before{
    display: none;
}
.box .content .property .link-button{
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}
input[type="text"] {
    outline: none;
}
.full {
    width: 100%;
}
.text-center {
    text-align: center;
}

.properties-btn-big {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.7rem;
}
.properties-btn-big.green {
    background: #4CAF50;
    border: 1px solid #4CAF50;
}
.amin, .amin:before, .amin:after{
    color: white;
    background: #8E2DE2;
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
}
.stripe, .stripe:before, .stripe:after {
    color: white;
    background: #1FA2FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.cosmic, .cosmic:before, .cosmic:after {
    color: white;
    background: #ff00cc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.instagram, .instagram:before, .instagram:after {
    color: white;
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.dimigo, .dimigo:before, .dimigo:after {
    color: white;
    background: #ec008c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.rainbowBlue, .rainbowBlue:before, .rainbowBlue:after {
    color: white;
    background: #00F260;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.soundcloud, .soundcloud:before, .soundcloud:after {
    color: white;
    background: #fe8c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.ver, .ver:before, .ver:after {
    color: white;
    background: #FFE000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #799F0C, #FFE000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #799F0C, #FFE000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.booker, .booker:before, .booker:after {
    color: white;
    background: #e65c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}