.pages {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.pages li {
    padding: 5px 18px;
    font-size: 0.7rem;
    letter-spacing: 0.5px;
    cursor: pointer;
    position: relative;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    min-width: 110px;
}
.pages li.active {
    background: #f4f4f4;
    color: #000;
    border: 1px solid #e5e5e5;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
}
.pages li.active:before {
    top: 4px;
    width: 1px;
    content: "";
    position: absolute;
    left: -3px;
    height: 21px;
    background: #fff;
}
.pages li.active:after {
    display: none;
}
.pages li:after {
    width: 1px;
    content: "";
    position: absolute;
    right: 1px;
    height: 16px;
    background: #e5e5e5;
    top: 6px;
}
.pages li.addNewTab {
    min-width: auto !important;
    padding-left: 10px;
    padding-top: 1px;
    padding-right: 10px;
    border-right: 0;
}
.pages li.addNewTab:after {
    display: none !important;
    
}
.pages li.addNewTab svg {
    width: 1rem;
}
.add {
    min-width: 40px;
    height: 18px;
    font-size: 10px;
    float: right;
    font-weight: 400;
    line-height: 12px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: -2px;
    -webkit-user-select: none;
    user-select: none;
    -o-user-select: none;
    font-weight: bold;
    color: #6f6f6f;
    background: white;
    border-radius: 4px;
    text-align: center;
    padding-top: 2px;
    border: 1px solid #e5e5e5;
    padding: 2px 5px;
    padding-right: 15px;
    position: relative;
}
.add:before {
    position: absolute;
    content: "+";
    font-size: 14px;
    right: 4px;
    top: 1px;
}
.minus-page {
    position: absolute;
    font-size: 19px;
    font-weight: 100;
    right: 5px;
    top: -1px;
    display: none;
    transform: rotate(45deg);
}
.pages li:hover .minus-page{
    display: block;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}